<div class="container-fluid">
    <a class="navbar-brand font-kitab" data-route="home" href="#">الْقُرْآن الْكَرِيْم</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        
            <li class="nav-item">
                <a class="nav-link"data-route="home" href="#">القرآن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-route="juz" href="#">الجزء</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  data-route="home" href="#">آية</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-route="surah" href="#">سورة</a>
            </li>

    
             
        </ul>
    </div>
</div>

